@font-face {
    font-family: "rogfont";
    src: url(font/ROGFONTS-REGULAR.woff);
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-y: hidden;
}

body {
    background: linear-gradient( 60deg, rgba(249, 165, 106, 0.9) 4.08%, rgba(255, 217, 141, 0.8) 51.45%, rgb(102, 149, 182) 95.98%);
    font-family: rogfont;
    color: white;
}

#home {
    background-image: url("assets/home/home.png");
    background-repeat: no-repeat;
    height: 100%;
}

/* Side Logo */

.sidelogo {
    position: absolute;
    top: 72%;
    left: 3%;
    opacity: 0.8;
}

.sidelogo img {
    height: 33px;
    margin-top: 10px;
    display: block;
}

/* End of Side Logo */

/* Container */

.container .text {
    position: absolute;
    top: 35%;
    font-size: 80px;
}

.subtext {
    position: absolute;
    font-size: 50px;
    top: 55%;
    left: 55%;
    width: 38.5%;
    height: 17.5%;
    background: rgba(255, 255, 255, 0.2);
}