* {
    box-sizing: border-box;
}
body{
    background-color: #f3f4f4;
}
html {
    scroll-behavior: smooth;
  }

section#landingPage{
    background-image: url(background.png);
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: 28%;
    background-position-y: 36%;
}

section#landingPage div {
    height: inherit;
    display: inline-block;
    padding-top: 29%;
    padding-left: 80%;
}

section#landingPage div button {
    background: transparent;
    border: none;
}

section#landingPage div button:hover {
    cursor: pointer;
}

section#landingPage div button img {
    height: 120px;
    width: auto;
    border-radius: 50%;
    border: 3px solid black;
}

section#landingPage div button img:hover {
    background-color: rgba(255, 84, 0, 1);
    border-color: transparent;
}