/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 2rem;
}

.nav-right .icon {
    display: none;
    text-align: end;
}

.nav-left {
    padding-left: 2rem;
}

.nav-left img {
    width: auto;
    height: 55px;
    vertical-align: middle;
}

#topNav.responsive .nav-left {
    align-self: flex-start;
}

#topNav.responsive .nav-right a:not(:first-child) {
    display: block;
    text-align: right;
}
/* End of Navbar */
