/* navbar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 2rem;
}

.topnav .icon {
    display: none;
}

.mainlogo {
    position: absolute;
    left: 2%;
    top: 1.8%;
}

.mainlogo img {
    width: auto;
    height: 55px;
}

.topnav.responsive {
    position: relative;
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: right;
    margin-right: 2rem;
}
/* End of Navbar */
