@media only screen and (max-width: 600px) {
    .nav-left img {
        height: 40px;
    }

    .nav-right a {
        display: none;
        margin-right: unset;
    }

    .nav-right a.icon {
        display: block;
        padding-top: 0.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #topNav {
        margin-top: 0.6rem;
    }
}

/* Addition Media Queries*/
@media only screen and (max-width: 768px) {
    .nav-left {
        padding-left: 0;
    }

    .nav-right a {
        display: none;
        margin-right: unset;
    }

    .nav-right a.icon {
        display: block;
        padding-top: 0.3rem;
    }
}
